{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
<!--    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.-->
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
    <a href="https://pengzhenghao.github.io" target="_blank">彭正皓</a>整理，更新日期：{{ "now" | date: '%Y年%m月%d日'}}  |  Collected by <a href="https://pengzhenghao.github.io" target="_blank">PENG Zhenghao</a>, Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container">
<!--    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.-->
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% endif %}
